.assetName {
  font-size: 25;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}
.itemDetails {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 35px;
}
.cardPrice {
  font-size: 32;
  font-weight: 700;
  line-height: 48px;
}

.priceTrend {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #a9ffa7;
  border-radius: 4;
}

.trendUp {
  background-color: #a9ffa7;
  color: #037400;
}

.trendDown {
  background-color: #ffa7a7;
  color: #740000;
}
